<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterpmoApp.student.home.title">Students</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/student/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterpmoApp.student.home.createLabel">
            Create new Student
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="students">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="martrikelnummer"><span jhiTranslate="jhipsterpmoApp.student.martrikelnummer">Martrikelnummer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vorname"><span jhiTranslate="jhipsterpmoApp.student.vorname">Vorname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nachname"><span jhiTranslate="jhipsterpmoApp.student.nachname">Nachname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="adresse"><span jhiTranslate="jhipsterpmoApp.student.adresse">Adresse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postleitzahl"><span jhiTranslate="jhipsterpmoApp.student.postleitzahl">Postleitzahl</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ort"><span jhiTranslate="jhipsterpmoApp.student.ort">Ort</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let student of students ;trackBy: trackId">
                <td>{{student.martrikelnummer}}</td>
                <td>{{student.vorname}}</td>
                <td>{{student.nachname}}</td>
                <td>{{student.adresse}}</td>
                <td>{{student.postleitzahl}}</td>
                <td>{{student.ort}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/student', student.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student', student.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'student', { outlets: { popup: student.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
